<div class="box pet-result" data-id={{id}}>
  <p class="title is-size-5 has-text-weight-semibold">{{pet_name}}</p>
  <p class="subtitle is-size-6">{{species}}</p>
  <p class="is-size-7">{{color}}</p>
  <p class="is-size-7">{{age}}</p>
  <p class="is-size-7">{{size}}</p>
  <p class="is-size-7">{{description}}</p>
</div>