<div class="box pet-result" data-id={{id}} >
  <p class="title is-2">{{pet_name}}</p>
  <p class="subtitle is-2">{{species}}</p>
  <p class="is-4">{{color}} </p>
  <p class="is-4">{{age}} </p>
  <p class="is-4">{{size}} </p>
  <p class="is-4">{{other}} </p>
  <p class="is-4">{{lookupOrDefault this 'description' '' }}</p>
</div>