<div class="pet-result" data-id={{id}} >
  <p class="h-4">{{pet_name}}</p>
  <p  class="h-4">{{color}}</p>
  <ul>
  <li>{{age}}</li>
  <li>{{size}}</li>
  </ul>
</div>
    {{!-- <div data-id={{user_id}}> --}}
      {{!-- <h4> --}}
        {{!-- </h4> --}}
    {{!-- </div> --}}
{{!-- </li>s --}}
{{!-- </div> --}}